apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler

metadata:
  name: desafio-db-hpa
  namespace: desafio-db

spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: desafio-db-deployment
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80

  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
    scaleDown:
      stabilizationWindowSeconds: 30 # deafault 300 seconds
      policies:
        - type: Pods
          value: 2
          periodSeconds: 15